<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Movies_VPD_311" connectionString="&#xD;&#xA;					Data Source=(localdb)\MSSQLLocalDB;&#xD;&#xA;					Initial Catalog=Movies_VPD_311;&#xD;&#xA;					Integrated Security=True;&#xD;&#xA;					Connect Timeout=30;&#xD;&#xA;					Encrypt=False;&#xD;&#xA;					TrustServerCertificate=False;&#xD;&#xA;					ApplicationIntent=ReadWrite;&#xD;&#xA;					MultiSubnetFailover=False&#xD;&#xA;			 " />
  <add name="MovieForms.Properties.Settings.Movies_VPD_311ConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\SQL2022\SQL22\LocalDB\Movies_VPD_311.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>